:root {
  /* COLOR */
  --color-bg : black;
  --color-text: white;
  --color-h1: white;
  --color-h2: white;
  --color-h3: white;
  --color-btn-bg: #181A1B;
  --color-btn-txt: white;
  --color-active-bg: rgba(255, 255, 255, 0.05);
}