/* <===== FONTS =====> */
/* font-family: 'Tillana', serif; */
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700&display=swap');

/* font-family: 'Gantari', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* <===== ROOT & VARIABLES =====> */
:root {
  /* TYPOGRAPHY */
  font-size: 10px;  /* making my font size 10px would make it easier to code  */
  --ff-primary: 'Gantari', sans-serif;
  --ff-heading: 'Tillana', serif;
  --fs-h1: clamp(4.8rem, 5vw, 6.4rem); 
  --fs-h2: clamp(2.6rem, 5vw, 4.8rem);
  --fs-p: clamp(2.4rem, 5vw, 3rem);
  --fs-button: clamp(1.4rem, 5vw, 2.4rem);
  --fs-footer: clamp(1rem, 5vw, 1.4rem);
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700; 
  /* COLOR */
  --white: white;
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;
  /* LAYOUT */
  --padding-default: clamp(5px, 25px, 75px);
  --margin-default: 30px;
  --margin-2x: calc(var(--margin-default) * 2);
}

/* <===== GLOBAL STYLES =====> */
h1 {
  font-family: var(--ff-heading);
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  color: var(--gray-1);
}

h2 {
  font-family: var(--ff-heading);
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  color: var(--gray-1);
}

p {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-normal);
  color: var(--gray-2);
}

body {
  font-family: var(--ff-primary);
  padding: var(--padding-default);
  font-size: var(--fs-p);
}

/* <===== HEADER =====> */

header {
  font-size: var(--fs-p);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-family: var(--ff-header);
  color: var(--gray-1);
}

/* <===== MAIN =====> */

main {
  margin: 0 auto;
  width: min( 90%, 1440px);
  min-height: 90vh;
}