/* <===== FONTS =====> */
/* font-family: 'Gantari', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* <===== ROOT & VARIABLES =====> */
:root {
  /* TYPOGRAPHY */
  font-size: 10px;  /* making my font size 10px would make it easier to calculate  */
  --ff-primary: 'Gantari', sans-serif;
  --ff-heading: 'Gantari', sans-serif;
  --fs-p: clamp(1.6rem, 5vw, 3.2rem);
  --fs-h1: calc(var(--fs-p) * 3);
  --fs-h2: calc(var(--fs-p) * 1.75);
  --fs-h3: calc(var(--fs-p) * 1.35);
  --fs-btn: calc(var(--fs-p) * .95);
  --fs-footer: calc(var(--fs-p) * .85);
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700; 
  /* COLOR */
  --color-bg: white;
  --color-text: black;
  --color-h1: black;
  --color-h2: black;
  --color-h3: black;
  --color-btn-bg: black;
  --color-btn-txt: white;
  --color-nav-bg: black;
  --color-nav-text: black;
  --color-active-bg: white;
  --color-active-text: black;
  /* LAYOUT */
  --white-space: clamp(5px, 5vw, 35px);
  --white-space-extended: clamp(50px, 5vw, 100px);
}

/* <===== GLOBAL STYLES =====> */
h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  color: var(--color-h1);
  line-height: 1.25;
  margin-bottom: 1rem;
}

h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-h2);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  color: var(--color-h2);
  line-height: 1.35;
  margin-bottom: 1rem;
}

h3 {
  font-family: var(--ff-heading);
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  color: var(--color-h3);
  line-height: 1.35;
  margin-bottom: .5rem;
}

p {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-normal);
  color: var(--color-text);
  line-height: 1.5;
  margin-bottom: 1.75rem;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-nav-text);
}

.btn-wrapper {
  text-align: center;
  margin-top: var(--white-space);
}

.btn {
  display: inline-block;
  background-color: var(--color-btn-bg);
  color: var(--color-btn-txt);
  font-size: var(--fs-btn);
  text-transform: capitalize;
  padding: 1rem 2rem;
  border: 2px solid var(--color-btn-bg);
  border-radius: 7.5px;
  transition: .3s;
  text-align: center;
}

.btn:hover {
  background-color: var(--color-active-bg);
  color: var(--color-active-text);
  font-weight: var(--fw-bold);
}

.img {
  border-radius: 7.5px;
}

.section {
  margin: var(--white-space-extended) 0;
}


/* <===== BODY =====> */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: 0 var(--white-space);
}

/* <===== HEADER =====> */
header {
  display: none;
}

/* <===== MAIN =====> */
main {
  margin: 0 auto;
  max-width: 1440px;
}

/* <===== FOOTER =====> */
.footer-main-heading {
  text-align: center;
  border-top: 2px dashed var(--color-text);
  border-bottom: 2px dashed var(--color-text);
}

.address-wrapper > div {
  padding: var(--white-space);
}

.footer-servicing-centres ul li {
  list-style: inside;
}

.footer-map  iframe {
  display: block;
  max-width: 100%;
  margin-top: 1.5rem;
}
.footer-copy {
  text-align: center;
}

/* <===== MEDIA QUERIES =====> */
@media screen and (min-width: 1025px) {
  .divs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .divs-wrapper > div {
    max-width: 48%;
  }

  .address-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .address-wrapper > div {
    max-width: 30%;
  }



}